<footer class="footer">
  <small>
    <%= link_to " The Ruby on Rails Tutorial ", "http://www.railstutorial.org/"%>
    <%= link_to " Michael Hartl ", "http://www.michaelhartl.com/"%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"),about_path%></li>
      <li><%= link_to t(".contact"),contact_path%></li>
      <li><%= link_to t(".new"), "http://news.railstutorial.org/"%></li>
    </ul>
  </nav>
</footer>
